.tasksBlock {
    margin-bottom: 15px;
    border-bottom: 1px solid #858585;
}

.tasksBlockItem {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.tasksBlockDescription {
    padding: 5px 0 0 20px;
}

.tasksBlockDate {
    padding-left: 25px;
    min-width: 300px;
    text-align: start;
}

.tasksBlockBtn {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}